@charset "UTF-8";
/* CSS Document */
body{
	font-family: 'Montserrat', sans-serif;
	background:#e6e6e6;
}

#wrapper{
	height:calc(100% - 50px);
	width:100%;
	position: absolute;
	top:50px;
	left:0px;
	display:inline-block;
}
.no-padding{
	padding-left:0px !important;
	padding-right:0px !important;
}
/* NAVBAR CUSTOMIZATIONS */
nav.navbar-fixed-top{
	background:#3199CA;
	-webkit-box-shadow: 0 2px 5px 3px #cccccc;
	box-shadow: 0 2px 5px 3px #cccccc;
	color: #ffffff;
}
.navbar-nav{
	font-family: 'Kameron', serif;
}
.navbar-nav li a{
	color:#ffffff !important;
}
.navbar-brand{
	padding-top:7px;
	padding-bottom:7px;
}
.navbar-brand img{
	height:100%;
}

.navbar-nav > li > a.profile-image{
	border: thin solid #3acbe6;
    border-radius: 17.5px;
    display: block;
    height: 35px;
    margin-bottom: 6.5px;
    margin-top: 6.5px;
    width: 35px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	background:#3acbe6;
}
.dropdown-menu{
	background:#3acbe6;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
	color: #262626 !important;
}

/* panel configs */
#first-panel-wrapper{
	background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 50px;
    z-index: 101;
	border-right: 2px solid #328c97;
	overflow-x: hidden;
}
#second-panel-wrapper{
	background:none;
	height:100%;
	/*border-left: 2px solid #328c97;
	border-right: 2px solid #328c97;*/
}
#third-panel-wrapper{
	background:#b3b3b3;
	height:100%;
}

/* First Panel */
#first-panel{
	padding-top:10px;
}
.list-content-wrapper{
	line-height:50px;
	height:50px;
	vertical-align:middle;
	margin-right: 10px;
}
.list-content-wrapper:last-child{
	margin-right:0px;
}
.list-profile-image{
	width:50px;
	height:50px;
	background:#e6e6e6;
	border-radius:25px;
	display:block;
}
a.list-group-item {
  float: left;
  width: 100%;
}
#first-panel .list-group-item-heading {
  display: block;
font-size: 14px;
font-weight: 700;
line-height: 1;
margin-top: 10px;
}
#first-panel .list-group-item-text {
  display: block;
  font-size: 12px;
  color:#328c97;
}
.badge{
	background:#328c97;
	margin-right:5px;
}
.elapsed-time{
	position:absolute;
	top:5px;
	right:5px;
	font-size:10px;
	color:#cccccc;
}
.search-box {
  margin-bottom: 0;
  margin-top: -10px;
}
input[type="search"]{
	background:url(../media/images/search-icon.png) left center no-repeat;
	padding-left:30px;
}

/***************************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600);

body {
	background-color: hsl(0, 0%, 90%);

	font-family: 'Open Sans', sans-serif;
}
#steps {
	margin: 50px auto;
}

.step {
	cursor:pointer;
	width: 40px;
	height: 40px;
	background-color: white;
	display: inline-block;
	border: 4px solid;
	border-color: transparent;
	border-radius: 50%;
	color: blue;
	font-weight: 600;
	text-align: center;
	line-height: 35px;
}
.step:first-child {
	line-height: 40px;
}
.step:nth-child(n+2) {
	margin: 0 0 0 100px;
	transform: translate(0, -4px);
}
.step:nth-child(n+2):before {
	width: 75px;
	height: 3px;
	display: block;
	background-color: white;
	transform: translate(-95px, 21px);
	content: '';
}
.step:after {
	width: 150px;
	display: block;
	transform: translate(-55px, 3px);
	color: grey;
	content: attr(data-desc);
	font-weight: 400;
	font-size: 13px;
}
.step:first-child:after {
	transform: translate(-55px, -1px);
}
.step.active {
	border-color: blue;
	color: blue;
}
.step.active:before {
	background: linear-gradient(to right, green 0%,
	blue 100%);
}
.step.active:after {
	color: blue;
}
.step.done {
	background-color: green;
	border-color: green;
	color: white;
}
.step.done:before {
	background-color: green;
}
ul.scrum{
    list-style-type: none;
	padding-left:0px;
}
.thumbnail { height: 100% !important; min-height:150px;}
.btn-droppable { width: 180px; height: 40px; padding-left: 4px; }
.btn-draggable { width: 160px; }
